<div class="about-container">
  <h2>About</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;I’m a software engineer who loves building backend systems. 
    I’ve worked on everything from large-scale enterprise projects to startup apps, focusing on creating scalable designs
    that are easy to use and maintain. I am fortunate enough to have been exposed to production level software architecture, design patterns, and databases.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;I enjoy the challenge of learning new languages and frameworks, always seeking out new opportunities to learn and grow as a developer.
    The languages I have worked with, but not limited too, are Python, Typescript, C#, and html/css. Within these languages, I have worked with frameworks such as Tkinter, React, Angular, NodeJS, and .NET Core.
    Alongside this I have expierence building out both relational and non-relational databases using MySQL and MongoDB.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp; In my free time I like to explore new music, draw, create game mods, hike, and hang out with my family.
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp; Enjoy exploring my portfolio, I recommend the Scientific Calculator first since it explores the topic of 
    EBNF parsing, an interesting topic that interwines natural langauge and computer science.
  </p>
</div>