<footer class="app-footer">
  <div class="footer-content">
    <p><a href="https://github.com/Bakaler/portfolio_project_frontend" target="_blank" rel="noopener noreferrer">Frontend developed using Angular</a>, <a href="https://github.com/Bakaler/PortfolioBackend" target="_blank" rel="noopener noreferrer">Backend using ASP.NET Core</a></p>
    <nav class="footer-nav">
      <a href="https://github.com/Bakaler">Github</a>
      <a routerLink="/careers">Careers</a>
      <a routerLink="/contact">Contact</a>
    </nav>
  </div>
</footer>