<div class="throttle-lesson">
  <h5>Why implement a calculator using a server for logic? Why not! Well... Theres lots of reasons why not, but, here we are.</h5>
  <h2 class="section-title">Throttle</h2>
  <p><strong>Frontend:</strong> Controls how often pressing a button is allowed. 
    For example, these buttons are throttled to allow 1 request every 300ms. </p>
  <p><strong>Backend:</strong> Middleware enforces request limits per user or IP to prevent server overload or abuse.
    For example, a user can only make 40 requests per minute</p>
  <p><strong> Together:</strong> These throttles ensure efficiency and protect the client and server.</p>
</div>